@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --white: rgb(248, 240, 240);
    --yellow: rgb(231, 204, 68);
    --black: #000;
    --bg: #222;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #111,
        -.4rem -.4rem 1rem #333;
    --box-shadow-inset:
        .4rem .4rem 1rem #111 inset,
        -.4rem -.4rem 1rem #333 inset;
}

* {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg);
}

/* body styling  */

body {
    padding: 20px;
    justify-content: center;
    align-items: center;
}


/* footer section styling */

footer {
    padding: 20px 23px;
    color: var(--white);
    text-align: center;
}

footer span a {
    color: var(--white);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


.container {
    margin-top: 30px;
    height: 1000px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: var(--box-shadow);
}

/* About me styling */

.container .neumorphism-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 540px;
    border-radius: 10px;
    color: var(--white);
}


.neumorphism-left img {
    border: 8px solid transparent;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 20px 20px;
    box-shadow: var(--box-shadow);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.neumorphism-left h3, p {
    text-align: center;
}

.neumorphism-left p {
    margin-bottom: 50px;
    font-weight: 550;
    color: var(--black);
}

.neumorphism-left a {
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: 15px;
    width: 210px;
    padding: 15px;
    color: var(--white);
    box-shadow: var(--box-shadow);
    font-size: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
}

.neumorphism-left a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--black);
}

/* skills styling */

.container .neumorphism-bot-left {
    position: absolute;
    top: 580px;
    left: 2px;
    width: 600px;
    height: 380px;
    border-radius: 10px;
    color: var(--white);
}

.neumorphism-bot-left p.title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
}

.neumorphism-bot-left .progress .bars {
    margin-top: 15px;
    margin-bottom: 15px;
}

.neumorphism-bot-left .progress .info {
    display: flex;
    margin-bottom: 5px;
    justify-items: center;
    justify-content: space-between;
}

.neumorphism-bot-left .progress span {
    font-weight: 350;
    font-size: 18px;
}

.neumorphism-bot-left .progress .line {
    height: 23px;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: relative;
}

.neumorphism-bot-left .progress .line::before {
    content: "";
    position: absolute;
    left: 2px;
    height: 10px;
    top: 30%;
    border-radius: 2px;
    background: var(--white);
}

.neumorphism-bot-left .progress .java::before {
    width: 80%;
    animation: horizontal-bar-1 8s;
}

.neumorphism-bot-left .progress .html::before {
    width: 70%;
    animation: horizontal-bar-2 7s;
}

.neumorphism-bot-left .progress .js::before {
    width: 60%;
    animation: horizontal-bar-3 6s;
}

.neumorphism-bot-left .progress .php::before {
    width: 60%;
    animation: horizontal-bar-4 6s;
}

.neumorphism-bot-left .progress .mysql::before {
    width: 70%;
    animation: horizontal-bar-5 7s;
}

@keyframes horizontal-bar-1 {
    from {
        width: 0%
    }

    to {
        width: 80%
    }
}

@keyframes horizontal-bar-2 {
    from {
        width: 0%
    }

    to {
        width: 70%
    }
}

@keyframes horizontal-bar-3 {
    from {
        width: 0%
    }

    to {
        width: 60%
    }
}

@keyframes horizontal-bar-4 {
    from {
        width: 0%
    }

    to {
        width: 60%
    }
}

@keyframes horizontal-bar-5 {
    from {
        width: 0%
    }

    to {
        width: 70%
    }
}


/* Projects styling */

.container .neumorphism-bot-right {
    position: absolute;
    right: 2px;
    top: 565px;
    width: 650px;
    height: 290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--white);
    box-shadow: var(--box-shadow-inset);
}

.neumorphism-bot-right p.title {
    position: relative;
    left: 210px;
    width: 200px;
    border-radius: 10px;
    margin-top: 17px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
}


.neumorphism-bot-right .owl-carousel {
    box-shadow: var(--box-shadow);
}

.neumorphism-bot-right .owl-carousel .card {
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 100px;
    padding: 30px 20px;
    text-align: center;
    transition: all 0.1s ease;
}

.neumorphism-bot-right .owl-carousel .card .box {
    border-radius: 50%;
}

.neumorphism-bot-right .owl-carousel .card:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-inset);
    transform: scale(1.05);
}

.neumorphism-bot-right .owl-carousel .card a.text {
    color: var(--white);
    font-size: 10px;
    font-weight: 400;
    margin: 10px 0 7px 0;
}

.neumorphism-bot-right .owl-carousel .card i, a {
    color: var(--white);
    text-decoration: none;
}


/* social media styling */

.container .social-media {
    position: absolute;
    right: 40px;
    top: 885px;
    width: 450px;
    height: 90px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-inset);
}

.container .social-title {
    font-weight: 400;
    font-size: 25px;
    position: absolute;
    color: var(--white);
    top: 900px;
    right: 510px;
    padding: 10px;
    border-radius: 10px;
    z-index: 9999;
}

.social-media .share {
    position: absolute;
    border-radius: .5rem;
    background: none;
    left: 35px;
}

.social-media .share a {
    height: 50px;
    width: 50px;
    line-height: 50px;
    box-shadow: var(--box-shadow);
    margin: 20px;
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);
}

.social-media .share a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--black);
}

/* contact styling */

.container .contact {
    position: absolute;
    right: 0;
    top: 0px;
    width: 650px;
    height: 550px;
    border-radius: 10px;
}

.contact-title {
    position: relative;
    left: 210px;
    width: 200px;
    color: var(--white);
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
    animation: blinks 3s;
}

@keyframes blinks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.contact-title-active {
    animation: blink 3s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.contact form {
    margin-top: 20px;
}

.contact form input[type="email"], input[type="text"], form textarea {
    font-weight: 350;
    color: var(--white);
    padding: 10px;
    border: none;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-inset);
}

.contact form textarea {
    height: 180px;
    resize: none;
}

.contact form input[type="submit"] {
    color: var(--white);
    border: none;
    font-size: 20px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    float: left;
}

.contact form input[type="submit"]:hover {
    cursor: pointer;
    color: var(--black);
    box-shadow: var(--box-shadow-inset);
}



/* clock styling */

.container .clock {
    position: absolute;
    top: 110px;
    left: 330px;
    height: 55px;
    width: 280px;
    display: flex;
}

.clock p {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: 350;
    color: var(--white);
}


/* calendar styling */

.container .calendar {
    position: absolute;
    top: 235px;
    left: 330px;
    height: 270px;
    width: 280px;
    color: var(--white);
    border-radius: 10px;
    font-weight: 350;
    box-shadow: var(--box-shadow);
}

.calendar #month {
    margin: 20px;
}

.calendar #date {
    font-size: 65px;
    margin: 5px;
    padding: 20px;
    box-shadow: var(--box-shadow-inset);
    font-weight: 450;
    border-radius: 10px;
}

.calendar #day {
    font-size: 20px;
    margin: 20px;
    box-shadow: var(--box-shadow-inset);
}