* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: serif;
}


.container {
    text-align: center;
    margin: 25px;
    width: 100%;
}

/* Title Styling */

.title {
    font-size: 40px;
    width: 300px;
    margin: auto;
}

/* Input Stylign */

.input-data {
    padding-top: 50px;
    margin: auto;
    width: auto;
}

.input-data label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 18px;
}

.input-data input[type=text], input[type="number"] {
    width: 200px;
    height: 20px;
    margin: 2px;
    font-size: 16px;
}

.input-data select {
    width: 200px;
    height: 26px;
    margin: 2px;
    font-size: 16px;
}

.input-data input[type="date"] {
    width: 200px;
    height: 20px;
    margin: 2px;
    font-size: 16px;
}

/* Button styling */

.add-button {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #4CAF50;
    color: white;
}

button.add-button:hover {
    color: #000;
    background: none;
}


/* Table styling */

table.table-data {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 700px;
}

table.table-data th, td {
    border: 1px solid black;
}

table.table-data th {
    background-color: #878f99;
    color: #FFE;
    height: 30px;
}

table.table-data td {
    background-color: #a2b9bc;
    color: #FFE;
    height: 25px;
}

table.table-data td i {
    padding-left: 15px;
    padding-right: 15px;
}

table.table-data td i.fa {
    cursor: pointer;
}


/* Responsive media query start */

@media(max-width: 750px) {
    .container .max-width .input-data {
        width: 400px;
    }

    .container .input-data select, input {
        margin: 5px;
    }
}